html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url('../pictures/tartines.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* -----------------------------------------------
  Wrapper
----------------------------------------------- */

.wrapper {
  height: 100vh;
  position: relative;
}

/* -----------------------------------------------
  Header
----------------------------------------------- */

header {
  color: black;
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 10px;
}

/* -----------------------------------------------
  Nav
----------------------------------------------- */

.navigation {
  width: 50%;
  height: 100px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.89);
  border-radius: 0 0px 15px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.navigation a {
  color: black;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.navigation img {
  height: 240px;
  position: relative;
  top: 13px;
}


/* -----------------------------------------------
  Main
----------------------------------------------- */

main {
  align-self: flex-end;
  width: 70%;
  min-height: 60vh;;
  margin: auto;
  margin-bottom: 3%;
  background: rgba(255, 255, 255, 0.89);
  border-radius: 15px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* -----------------------------------------------
  head
----------------------------------------------- */

.head {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  margin-left: 3%;
}

.search_bar {
  font-size: 1.2em;
  margin-right: 3%;
  width: 80%;
}

.search_btn {
  font-size: 1.2em;
  background: #ed1a1a;
  background-image: linear-gradient(to bottom, #ed1a1a, #fa5555);
  border: 1px solid #ed1a1a;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.search_btn:hover {
  background: #fa5555;
  background-image: linear-gradient(to bottom, #fa5555, #ed1a1a);
  text-decoration: none;
}

.lexique {
  padding: 8px;
  font-size: 1em;
}

/* -----------------------------------------------
  Content
----------------------------------------------- */

.content {
  padding: 0 20px;
  display: flex;
  align-items: baseline;
}

.radio {
  flex: 1;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}

.research {
  flex: 1;
  text-align: center;
}

/* -----------------------------------------------
  Footer
----------------------------------------------- */

footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 10px;
}

footer p {
  margin: 0;
}
