html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  background-image: url('../pictures/tartines.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

/* -----------------------------------------------
  Wrapper
----------------------------------------------- */
.wrapper {
  min-height: 100%;
  position: relative;
}

/* -----------------------------------------------
  Header
----------------------------------------------- */
.header-nav {
  display: flex;
  justify-content: center;
  background-color: black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
}

.desktop-nav a {
  font-family: 'Oswald', sans-serif;
  padding: 15px;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.5s;
  color: #fff;
}

.desktop-nav a:hover {
  background-color: #f2c600;
}

.mobile-nav a {
  color: #fff;
}

.login-connect {
  position: absolute;
  right: 0;
  color: #fff;
  margin-right: 3%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: baseline;
  width: 15%;
}

.login-connect a {
  text-decoration: none;
}

.fa-power-off {
  color: #fff;
}

.connect_button {
  background: #cc2727;
  border: 0;
  width: 50%;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  cursor: pointer;
}

.connected {
  font-size: 1.1em;
}

/* -----------------------------------------------
  Overlay
----------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  display: none;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-times-circle-o {
  font-size: 3em;
  color: #fff;
  cursor: pointer;
}

.login-box{
  position:relative;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}

.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 1.5em;
  transition: all 0.1s linear;
}

.lb-header .active{
  color: #cc2727;
  font-size: 1.5em;
}

.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  text-align:center;
}

.u-form-group{
  width:100%;
  margin-bottom: 10px;
}

.u-form-group input[type="email"],
.u-form-group input[type="text"],
.u-form-group input[type="password"]
{
  width: calc(70% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  transition:all 0.1s linear;
}

.u-form-group input:focus{
  border-color: #358efb;
}

.u-form-group button{
  width: calc(70% - 22px);
  background: #cc2727;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}

/* -----------------------------------------------
  Main
----------------------------------------------- */
.header-main {
  text-align: center;
  padding: 3%;
}

.logo {
  height: 20em;
  transition: all 0.5s;
}

.logo:hover {
  transform: rotate(360deg);
}

/* -----------------------------------------------
  Container de chaques pages/nav tab
----------------------------------------------- */
.container {
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: inset 0px 3px 5px -1px rgba(0,0,0,0.64);
  padding: 15px;
  min-height: 600px;
}

.container h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2em;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  width: 70%;
  margin: auto;
}

.container h2 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-weight: 400;
}

.nav-tab ul {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 0;
  display: flex;
  text-align: center;
}

.nav-a {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  flex: 1;
}

.nav-tab a:hover {
  background-color: rgb(119, 117, 121);
  color: white;
}

.onfocus {
  background-color: black;
  color: white;
}

.tabs {
  display: none;
  text-align: center;
}

.tabs h3 {
  font-size: 1.6em;
}

.block {
  display: block;
}
/* -----------------------------------------------
  Form
----------------------------------------------- */
.form {
  font-size: 1.3em;
}

.form-input {
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  text-align: right;
}

.form input {
  border: 0;
  background: transparent;
  border-bottom: 1px dashed rgb(162, 162, 162);
  font-size: 1em;
  outline: none;
  width: 50%;
  margin-left: 2%;
}

.form input:focus {
  border-bottom: 1px dashed #f2c600;
}

.form button[type="submit"] {
  cursor: pointer;
  width: calc(50% - 22px);
  background: #cc2727;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}

/* -----------------------------------------------
  Nav et animation nav-mobile
----------------------------------------------- */
.sidebar {
  position: absolute;
  top: 0;
  width: 25vw;
  min-height: 100vh;
  padding-top: 1em;
  background: #333;
  color: #ddd;
  z-index: 1000;
  left: -25vw;
  transform: translateX(0) translateZ(0);
  transition: transform .2s;
  will-change: transform;
}

.main {
  transform: translateX(0) translateZ(0);
  transition: transform .2s;
  will-change: transform;
}

[class^="nav-button"] {
  display: block;
  z-index: 1;
  height: 2.5rem; width: 2.5rem;
  background-color: transparent;
  background-image: linear-gradient(to right, #fff, #fff),
    linear-gradient(to right, #fff, #fff),
    linear-gradient(to right, #fff, #fff);
  background-position: center top, center, center bottom;
  background-repeat: no-repeat;
  background-size: 2.5rem .5rem;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.mobile-nav a {
  display: block;
  padding: .7em;
  margin-bottom: 2px;
  text-decoration: none;
  background: rgba(255,255,255, 0.1);
}

body:target .main {
  transform: translateX(25vw);
}

body:target .sidebar {
  transform: translateX(25vw);
}

body:target .login-connect {
  transform: translateX(25vw);
}

.nav-button-close,
body:target .nav-button-open {
  display: none;
}
.nav-button-open,
body:target .nav-button-close {
  display: block;
}

/* -----------------------------------------------
  Home
----------------------------------------------- */
.card_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10% 0 10%;
}

.card {
  margin-bottom: 3%;
  width: 35%;
  height: 300px;
  border: 3px dashed #fff;
  overflow: hidden;
  text-decoration: none;
}

.card-div {
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.card-div h3 {
  font-size: 3em;
  margin: 0;
}

.card-content {
  display: none;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.receipe div {
  background-image: url('../pictures/foodontable.jpg');
  background-size: 100% 100%;
  background-position: center;
  color: #fff;
  text-shadow: 2px 2px 4px black;
}
.receipe h3 {font-family: 'Permanent Marker', cursive;}

.party div {
  background-image: url('../pictures/party.jpg');
  background-size: 100% 100%;
  background-position: center;
  text-shadow: 2px 2px 4px black;
}
.party h3 {font-family: 'Monoton', cursive;}

.provide div{
  background-image: url('../pictures/sefournir.jpg');
  background-size: 100% 100%;
  background-position: center;
  text-shadow: 2px 2px 4px black;
}
.provide h3 {font-family: 'Boogaloo', cursive;}

.contact div {
  background-image: url('../pictures/contact.jpg');
  background-size: 100% 100%;
  background-position: center;
  text-shadow: 2px 2px 4px black;
}

.contact h3 {font-family: 'Pacifico', cursive;}

.card-div:hover {
  background-size: 150% 150%;
  background-color: rgba(9, 9, 9, 0.60);
  background-blend-mode: darken;
}

/* -----------------------------------------------
  Info_display
----------------------------------------------- */
.container_contact {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.container_contact_dev {
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 2%;
}

.container_contact_dev img {
  height: 200px;
  border: 2px dashed black;
  border-radius: 50%;
}

.container_contact_support p {
  font-size: 1.5em;
  padding: 30px;
  text-align: center;
}

.container_contact_support p:first-of-type {
  text-align: justify;
}

/* -----------------------------------------------
  J'ai faim / recipe_display
----------------------------------------------- */
.search_recipe {
  margin-top: 3%;
}

.search {
  position: relative;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.search input {
  height: 40px;
  width: 80%;
  font-size: 1.2em;
  padding: 0 12px 0 30px;
  background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 10px 12px no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: #a8acbc #babdcc #c0c3d2;
  border-radius: 13px;
  box-sizing: border-box;
  box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
  outline: none;
  border-color: #66b1ee;
  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search .results {
  position: absolute;
  display: none;
  width: 80%;
  top: 40px;
  left: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-color: #fdfdfd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li:first-child { margin-top: -1px }

.search .results li:last-child { margin-bottom: -1px }

.search .results li {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 40px 6px 10px;
  color: #808394;
  font-weight: 500;
  text-shadow: 0 1px #fff;
  border: 1px solid transparent;
  border-radius: 3px;
}

.search .results li:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-color: #2380dd #2179d5 #1a60aa;
  background-color: #338cdf;
  background-image: linear-gradient(top, #59aaf4, #338cdf);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

.search button[type="submit"], .delete_panier, .submitPanier {
  cursor: pointer;
  width: calc(20% - 22px);
  background: #cc2727;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 0;
  border-radius: 13px;
  text-transform: uppercase;
}

.search .block {
  display: block;
}

.paniertest {
  margin: auto;
  margin-top: 3%;
}

.panier-header {
  height: auto;
}

.panier-header h3 {
  display: inline-block;
}

.delete_panier {
  position: absolute;
  right: 0;
  height: auto;
  font-size: 0.7em;
  padding: 0;
}

.panier {
  height: 70%;
  position: relative;
}

.submitPanier {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fa-times {
  color: rgb(245, 37, 16);
  cursor: pointer;
}
.fa-times:hover {
  transform: scale(1.2, 1.2);
}

/* -----------------------------------------------
  Création de recette
----------------------------------------------- */
.creation {
  text-align: center;
}

.creation .liste_ing_select{
  text-align: left;
  width: 50%;
  margin: auto;
}

.liste_ing_select p{
  width: 33%;
  display: inline-block;
  text-align: center;
}

.theme p {
  display: flex;
  justify-content: space-around;
}

.submitcreate {
  margin-top: 1%;
  width: 50%;
  position: relative;
}

.writerecipe {
  border-top: 1px dashed black;
  margin-top: 3%;
}
/* -----------------------------------------------
  Footer
----------------------------------------------- */
footer {
  text-align: right;
  background-color: black;
  min-width: 100%;
  color: #fff;
  padding: 10px;
}

/* -----------------------------------------------
  Responsive
----------------------------------------------- */
@media (max-width: 1480px) {
  .contact h3 {
    font-size: 2.3em;
  }
}

@media (max-width: 1200px) {
  .card-div h3 {
    font-size: 2em;
  }

  .card-content {
    font-size: 1em;
  }

  .card {
    height: 230px;
  }
}

@media (max-width: 1070px) {
  .search button[type="submit"] {
    font-size: 0.7em;
  }
}

@media (max-width: 1024px) {
  .connected {
    font-size: 0.8em;
  }
}

@media (max-width: 987px) {
  .login-connect h3 {
    display: none;
  }

  .header-nav {
    align-items: center;
  }

  .container_contact {
    flex-wrap: wrap;
  }

  .contact h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 970px) {
  .card_container {
    padding: 0;
  }

  .form-input {
    width: 80%;
  }

  .container_contact_support p {
    font-size: 1.2em;
  }
}

@media (max-width: 780px) {
  .logo {
    height: 10em;
  }

  section {
    margin-bottom: 0;
  }

  .login-connect {
    justify-content: flex-end;
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .card_container {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }

  .card-div:hover h3 {
    display: none;
  }

  footer {
    text-align: center;
    font-size: 0.8em;
  }
}

@media (min-width: 621px) {
  .nav-button-open, .nav-button-close {
    display: none;
  }
}

@media (max-width: 620px) {
  .desktop-nav {
    display: none;
  }
  .receipe h3 {
    font-size: 1.7em;
  }

  .login-connect {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
    width: 120px;
  }

  .u-form-group input[type="email"],
  .u-form-group input[type="text"],
  .u-form-group input[type="password"]{
    width: 90%;
  }
}

@media (max-width: 545px) {
  .login-box {
    width: 90%;
  }

  .form-input {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .container_contact_dev {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .form-input {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .form-input input {
    width: 100%;
  }

  .container_contact_dev img {
    height: 100px;
  }
}

@media (max-width: 348px) {
  footer {
    position: relative;
  }

  .contact h3 {
    font-size: 1.5em;
  }

  .card {
    height: 150px;
  }

  .sidebar {
    width: 50vw;
    left: -50vw;
  }

  body:target .main {
    transform: translateX(50vw);
  }

  body:target .sidebar {
    transform: translateX(50vw);
  }

  body:target .login-connect {
    transform: translateX(50vw);
  }
}
